node_red_flow.json
[
    {
        "id": "49752b21-93ca-4e3a-917c-4deacda0b446",
        "type": "tab",
        "label": "Paralelos Virtuais",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ae3d449c-0c31-464b-8faf-ada6ff8ca10e",
        "type": "group",
        "z": "49752b21-93ca-4e3a-917c-4deacda0b446",
        "name": "interruptor_1_cozinha",
        "style": {
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "6203a542-8a0f-4fd2-91ad-488008d5d654",
            "bad49396-d8d8-465b-aa4b-066e66eec177",
            "55ca0f22-c628-4c71-ae0c-f8fafb3d9c4d",
            "5bc69d81-2081-4550-b2cf-7a6b7aa4e752",
            "0457e732-993e-40e1-9896-8b914644f17a"
        ],
        "x": 153.5,
        "y": 99,
        "w": 1055.5,
        "h": 319
    },
    {
        "id": "6203a542-8a0f-4fd2-91ad-488008d5d654",
        "type": "server-state-changed",
        "z": "49752b21-93ca-4e3a-917c-4deacda0b446",
        "g": "ae3d449c-0c31-464b-8faf-ada6ff8ca10e",
        "name": "switch.interruptor_1_cozinha_interruptor_1",
        "server": "20b962a5.ede7ee",
        "version": 5,
        "outputs": 2,
        "entityId": "switch.interruptor_1_cozinha_interruptor_1",
        "entityIdType": "exact",
        "outputInitially": true,
        "stateType": "str",
        "ifState": "on",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 100,
        "y": 100,
        "wires": [
            [
                "bad49396-d8d8-465b-aa4b-066e66eec177"
            ],
            [
                "55ca0f22-c628-4c71-ae0c-f8fafb3d9c4d"
            ]
        ]
    },
    {
        "id": "bad49396-d8d8-465b-aa4b-066e66eec177",
        "type": "api-current-state",
        "z": "49752b21-93ca-4e3a-917c-4deacda0b446",
        "g": "ae3d449c-0c31-464b-8faf-ada6ff8ca10e",
        "name": "Check switch.interruptor_2_cozinha_interruptor_3 ON",
        "server": "20b962a5.ede7ee",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "switch.interruptor_2_cozinha_interruptor_3",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 300,
        "y": 100,
        "wires": [
            [],
            [
                "5bc69d81-2081-4550-b2cf-7a6b7aa4e752"
            ]
        ]
    },
    {
        "id": "55ca0f22-c628-4c71-ae0c-f8fafb3d9c4d",
        "type": "api-current-state",
        "z": "49752b21-93ca-4e3a-917c-4deacda0b446",
        "g": "ae3d449c-0c31-464b-8faf-ada6ff8ca10e",
        "name": "Check switch.interruptor_2_cozinha_interruptor_3 OFF",
        "server": "20b962a5.ede7ee",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "switch.interruptor_2_cozinha_interruptor_3",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 300,
        "y": 180,
        "wires": [
            [
                "0457e732-993e-40e1-9896-8b914644f17a"
            ],
            []
        ]
    },
    {
        "id": "5bc69d81-2081-4550-b2cf-7a6b7aa4e752",
        "type": "api-call-service",
        "z": "49752b21-93ca-4e3a-917c-4deacda0b446",
        "g": "ae3d449c-0c31-464b-8faf-ada6ff8ca10e",
        "name": "Turn ON switch.interruptor_2_cozinha_interruptor_3",
        "server": "20b962a5.ede7ee",
        "version": 5,
        "domain": "switch",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.interruptor_2_cozinha_interruptor_3"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 500,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "0457e732-993e-40e1-9896-8b914644f17a",
        "type": "api-call-service",
        "z": "49752b21-93ca-4e3a-917c-4deacda0b446",
        "g": "ae3d449c-0c31-464b-8faf-ada6ff8ca10e",
        "name": "Turn OFF switch.interruptor_2_cozinha_interruptor_3",
        "server": "20b962a5.ede7ee",
        "version": 5,
        "domain": "switch",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.interruptor_2_cozinha_interruptor_3"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 500,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "321a2612-eb83-4935-998a-c15122840661",
        "type": "group",
        "z": "49752b21-93ca-4e3a-917c-4deacda0b446",
        "name": "interruptor_1_escritorio",
        "style": {
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "48f9e836-e4a0-43b9-853b-b66e46781535",
            "9f6c3e02-63db-4f5d-9a4d-3c884f5d2dfa",
            "e25ca9d2-f7c4-4a95-b3b1-31f392d043ec",
            "5a767ccf-79ac-4392-855f-22c26ab34b95",
            "079e5a79-9066-47e3-a17b-425ffeb6ddc8"
        ],
        "x": 153.5,
        "y": 99,
        "w": 1055.5,
        "h": 319
    },
    {
        "id": "48f9e836-e4a0-43b9-853b-b66e46781535",
        "type": "server-state-changed",
        "z": "49752b21-93ca-4e3a-917c-4deacda0b446",
        "g": "321a2612-eb83-4935-998a-c15122840661",
        "name": "switch.interruptor_1_escritorio_interruptor_1",
        "server": "20b962a5.ede7ee",
        "version": 5,
        "outputs": 2,
        "entityId": "switch.interruptor_1_escritorio_interruptor_1",
        "entityIdType": "exact",
        "outputInitially": true,
        "stateType": "str",
        "ifState": "on",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 100,
        "y": 100,
        "wires": [
            [
                "9f6c3e02-63db-4f5d-9a4d-3c884f5d2dfa"
            ],
            [
                "e25ca9d2-f7c4-4a95-b3b1-31f392d043ec"
            ]
        ]
    },
    {
        "id": "9f6c3e02-63db-4f5d-9a4d-3c884f5d2dfa",
        "type": "api-current-state",
        "z": "49752b21-93ca-4e3a-917c-4deacda0b446",
        "g": "321a2612-eb83-4935-998a-c15122840661",
        "name": "Check switch.interruptor_2_escritorio_interruptor_1 ON",
        "server": "20b962a5.ede7ee",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "switch.interruptor_2_escritorio_interruptor_1",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 300,
        "y": 100,
        "wires": [
            [],
            [
                "5a767ccf-79ac-4392-855f-22c26ab34b95"
            ]
        ]
    },
    {
        "id": "e25ca9d2-f7c4-4a95-b3b1-31f392d043ec",
        "type": "api-current-state",
        "z": "49752b21-93ca-4e3a-917c-4deacda0b446",
        "g": "321a2612-eb83-4935-998a-c15122840661",
        "name": "Check switch.interruptor_2_escritorio_interruptor_1 OFF",
        "server": "20b962a5.ede7ee",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "switch.interruptor_2_escritorio_interruptor_1",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 300,
        "y": 180,
        "wires": [
            [
                "079e5a79-9066-47e3-a17b-425ffeb6ddc8"
            ],
            []
        ]
    },
    {
        "id": "5a767ccf-79ac-4392-855f-22c26ab34b95",
        "type": "api-call-service",
        "z": "49752b21-93ca-4e3a-917c-4deacda0b446",
        "g": "321a2612-eb83-4935-998a-c15122840661",
        "name": "Turn ON switch.interruptor_2_escritorio_interruptor_1",
        "server": "20b962a5.ede7ee",
        "version": 5,
        "domain": "switch",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.interruptor_2_escritorio_interruptor_1"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 500,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "079e5a79-9066-47e3-a17b-425ffeb6ddc8",
        "type": "api-call-service",
        "z": "49752b21-93ca-4e3a-917c-4deacda0b446",
        "g": "321a2612-eb83-4935-998a-c15122840661",
        "name": "Turn OFF switch.interruptor_2_escritorio_interruptor_1",
        "server": "20b962a5.ede7ee",
        "version": 5,
        "domain": "switch",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.interruptor_2_escritorio_interruptor_1"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 500,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "20b962a5.ede7ee",
        "type": "server",
        "name": "Home Assistant",
        "addon": true
    }
]